/* ---- İndex sayfası ---- */
/* ---- Backgraund ----- */
body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.header{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(backgraund100.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid rgb(49, 48, 48);
}
.btn a{
  text-decoration: none;
  color: #fff; 
}

.sign{
  padding: 0 28vh;
  background-color: #fff;
}

.form-sign {
  color: black;
}

.form-sign a{
  text-decoration: none;
}

.profile-footer{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  background-size: 100% 100%;
  height: 40vh;
  padding-top: 10vh;
  padding-left: 24vh;
  padding-right: 24vh;
}

.profile-footer ul {
  list-style: none;
  padding-left: 0;
}

.profile-footer ul a{
  color: #9b9b9b;
}

.profile-footer ul li{
  margin-bottom: 12px;
  font-size: 14px;
}

.profile-footer p{
  color: #9b9b9b;
}

.login-container{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  background-position: center;
  background-size: 25% 90%; /* Doğru kullanım */
}

.login h2{
  margin-top: 4vh;
  font-size: 38px;
}

.login-footer {
  margin-top: 20vh;
}

.info a{
  text-decoration: none;
  color:#fff ;
}

.header-login{
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(backgraund100.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.yanyana{
  display: inline-block;
}
/* ------- ----- ------- */
/* Navbar style özellikleri */
.nav-select {
    border-bottom: 2rem;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 6px 20px 6px 6px;
    background-color: transparent;
    color: white;
    background-image: url("data:image/svg+xml;charset=utf-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'white\' class=\'bi bi-globe\' viewBox=\'0 0 16 16\'%3e%3cpath d=\'M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z\'/%3e%3c/svg%3e"); /* dünya ikonu burada */
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    text-align: center;
}
/*
.navbar-toggler-icon{
    background-color: red;
    border-radius: 4px;
    box-shadow: none;

}
*/
.navbar-toggler {
  color: none;
  background-color: #fff;
  line-height: 0;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------- ----- ------- */
/* ---- Header ----- */
/* ---- Yazı alanı alanı ---- */
.row{
  width: 100%;
  height: 70vh;
}
.custom-container {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -1rem;
  padding: 20px;
}
.row p{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 22px;
  font-weight: 200;
}
.row h1{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 54px;
  font-weight: 800;
}
/* ---- Form alanı ---- */
.btn-lg{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 26px;
  font-weight: 600;
}
.container {
  display: flex;
  justify-content: center;
}
.form-control{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  background-color: transparent;
}

:root { /* bu Css alanı formun içindeki bootstrap da yer alan css lere müdahale etmek için oluşturdum. Peki bunu nasıl buldun tarayıcıda sayfamı incele yaptığımda bu alanları buldum ve deneme yanılma yöntemi ile bu alanların ne işe yaradığını buldum ve tekrar deneyerek e-posta adresi yazın kısmında formumun şeklini değiştirdim. */
  --bs-body-bg: transparent;
  --bs-font-color: #fff;
  --bs-border-color: grey;
  --bs-link-hover-color: #fff;
  --bs-body-color: #fff;
  --bs-body-color-rgb: 255,255,255;
  --bs-navbar-toggler-icon-bg: white;
}

/* ------ Section Alanı ------ */
.section{
  padding: 1.5rem;
}
.section p{
  padding-top: 0.5rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 26px;
}
img{
  max-width: 100% ;
}
.full-width-hr { /* hr ye class vererek css tarafında rahatlıkla oynamalar yapabileceğimi düşünerek bu yöntemi geliiştirdim.*/
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: rgb(119, 119, 119);
  margin: 0;
  border: none;
}
/* ------- ----- ------- */
/* ------- Akardion ------- */
.sss h1{
  margin-top: 4rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 54px;
  font-weight: 600;
}
.container-sss{
  padding-left: 10rem; 
  padding-right: 10rem;
}
.accordion-item{
  padding: 0.2rem;
  border: none;
}
.accordion-button{
  background-color: rgb(49, 48, 48);
  border: none;
}
.accordion-body{
  background-color: #454545;
}
.accordion-header h3{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 26px;
}
.accordion-body p{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 24px;
}
.accordion-button:focus{
  box-shadow: none;
  border: none;
}
.accordion-button:not(.collapsed){
  color: white;
  background-color: rgb(49, 48, 48);
}
/* buton kısmında svg formatını base64 ile yeniden bootstrap kodlarını ezerek değiştirdim */
.accordion {
  --bs-accordion-btn-icon:url("data:image/svg+xml;charset=utf-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3e%3cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon:url("data:image/svg+xml;charset=utf-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-x' viewBox='0 0 16 16'%3e%3cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 2.5rem;
  --bs-accordion-btn-icon-transform: rotate(-90deg);
}
/* ------- ----- ------- */
svg.bi-chevron-right {
  width: 24px;
  height: 24px;
}
.abone{
  margin-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.abone p{
  font-size: 22px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.cutom-row{
  display: flex;
 }

 .footer{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  background-size: 100% 100%;
  height: 40vh;
  padding-top: 10vh;
  padding-left: 24vh;
  padding-right: 24vh;
}

.form-select {
  width: 125px;
  height: 35px;
  font-size: 14px;
  border-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'white\' class=\'bi bi-globe\' viewBox=\'0 0 16 16\'%3e%3cpath d=\'M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z\'/%3e%3c/svg%3e");
  padding-left: 35px; /* SVG ikonunun genişliği kadar bir boşluk bırakmak için */
  background-repeat: no-repeat;
  background-position: left center;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul a{
  color: #9b9b9b;
}

.footer ul li{
  margin-bottom: 12px;
  font-size: 14px;
}

.footer p{
  color: #9b9b9b;
}

/* ---- Mobil Görünümü ---- */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .form-floating {
    width: 300px;
    margin-bottom: 1rem; 
  }
  .btn-lg{
    font-size: 22px;
    font-weight: 600;
    width: 150px;
  }
  .row p{
    font-size: 16px;
    font-weight: 200;
  }
  .row h1{
    font-size: 32px;
    font-weight: 800;
  }
  .row h4{
    font-size: 19px;
  }
  .section p{
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
  }
  .section h1{
    margin-top: 50px;
    text-align: center;
  }
  .container-sss{
    padding-left: 1rem; 
    padding-right: 1rem;
  }
  .accordion-header h3{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
  }
  .accordion-body p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 17px;
  }
  .sss h1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 35px;
    font-weight: 600;
  }
  .abone{
    margin-top: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .abone p{
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .cutom-row{
    display: block;
  }
  .footer{
    padding-top: 10vh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .profile-footer{
    padding-top: 90vh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-login img{
    width: 200px;
  }

  .header-login{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(backgraund100.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .login-container{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 0% 0%; /* Doğru kullanım */
  }

  .sign{
    padding: 0 0px;
  }

  .form-sign {
    margin: 0 15px;
  }

}



/*
.footer {
  margin-top: 100px;
  padding-left: 10rem;
  padding-right: 10rem;
}*/
/* ---- Header Bitiş----- */

/* ---- İndex sayfası bitiş ---- */